<script lang='ts'>
  export default { name: '{{pascalCase name}}' }
</script>

<script setup lang='ts'>
  // Setup component
</script>

<template>
  <div data-testid='{{kebabCase name}}'>{{pascalCase name}}</div>
</template>